* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: var(#{--body-background-default});
}

.container {
  // min-width: 1230px;
  max-width: 1230px;
  margin: 0 auto;
  padding: 20px 15px 0px 15px;
}
