$light-backgoround: #fff;
// $box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$box-shadow: 0px 4px 12px rgba(180, 180, 180, 0.25);
$border-radius: 20px;
$primary-color: #4793ff;
$light-gray: #939cb0;
